/*
color-palette:-
1F2232
E5ECE9
6290C8
*/


* {font-family: Verdana,sans-serif;background-color: #1F2232;color:#E5ECE9; margin-left:auto;margin-right:auto;}

.portfolio {text-align: center;}

#learner::after {content: "learner";}
#learner:hover::after {content:"coder";}

#am::after {content:'am I?';}
#am:hover::after {content:'is Chikao?'}



#icon{display:block;height:100px;}

hr {background-color: #6290C8;border:0;height:0.25vh;width: 50vw;}
